{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{% include "front/hero.twig" %}
			{% include "front/services.twig" %}
			{% include "front/portfolio.twig" %}
			{% include "front/team.twig" %}
		</div>
		{% include "contact.twig" %}
	</div><!-- /content-wrapper -->
{% endblock %}