{% extends "base.twig" %}

{% block head %}
	<link href="{{site.theme.link}}/static/css/front-page.css" rel="stylesheet">
{% endblock %}


{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{% include "front-page/hero.twig" %}
			{% include "front-page/services.twig" %}
			{% include "front-page/portfolio.twig" %}
			{% include "front-page/timeline.twig" %}
			{% include "front-page/team.twig" %}
			{% include "front-page/contact.twig" %}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}