/* Global Styles */
p {
  font-size: 1.40em;
  line-height: 1.6em;
  color: #2a2a33;
}
@media (max-width: 767px) {
  p {
    font-size: 1.3em;
  }
}
code {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
a:hover,
a:hover *:not(.fa),
a:active,
a:active *:not(.fa) {
  color: #477CA6 !important;
}
li {
  list-style: none;
}
@media (min-width: 766px) and (max-width: 992px) {
  .container {
    width: auto;
  }
}
.modal-backdrop.in {
  opacity: 0.2;
}
/* Nav */
#nav-main {
  height: 50px;
  z-index: 9999;
}
.navbar-default {
  background-color: #2a2a33;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: white;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}
.navbar-default .navbar-mobilized {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-default .navbar-nav li a {
  line-height: 0;
}
@media (max-width: 1099px) {
  #content {
    margin-top: 50px;
  }
  .navbar-header {
    width: 100%;
  }
  .navbar-header .navbar-toggle {
    display: block;
    background-color: #477CA6;
    border-color: #477CA6;
    margin-right: -15px;
    float: right;
  }
  .navbar-header .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-header .navbar-toggle:hover,
  .navbar-header .navbar-toggle:focus {
    background-color: #477CA6;
  }
  .navbar-mobilized {
    background-color: #2a2a33;
    margin-top: 50px;
    top: 0;
    width: 100vw;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    -webkit-transition: ease transform 0.5s;
    -moz-transition: ease transform 0.5s;
    transition: ease transform 0.5s;
  }
  .navbar-mobilized a.active {
    color: #386182;
  }
  .navbar-mobilized > ul.navbar-nav {
    border-top: solid 1px #f7f7f7;
    width: 100vw;
    padding: 15px;
    margin: 0;
  }
  .navbar-mobilized > ul.navbar-nav .page-scroll,
  .navbar-mobilized > ul.navbar-nav .active > a {
    background: none!important;
    color: white;
  }
  .navbar-mobilized > ul.navbar-nav li {
    float: none;
  }
  .navbar-mobilized > ul.navbar-nav li a {
    padding: 15px 10px;
    display: inline-block;
    font-size: 1.2em;
  }
  .navbar-mobilized > ul.navbar-nav ul {
    float: none!important;
    margin: 0;
  }
  .navbar-mobilized.show {
    transform: rotateX(0);
  }
}
@media (min-width: 1100px) {
  .navbar-default {
    background-color: rgba(42, 42, 51, 0);
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 1.5em;
  }
  .navbar-default ul.navbar-nav li a {
    border-radius: 3px;
    text-decoration: none;
    padding: 15px 10px;
    margin: 10px;
  }
  .navbar-default ul.navbar-nav li a:hover,
  .navbar-default ul.navbar-nav li a:focus {
    color: #6495bc;
    outline: none;
  }
  .navbar-default ul.navbar-nav .menu-item-has-children ul {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    backface-visibility: hidden;
    background-color: #2a2a33;
    list-style: none;
    padding: 5px 20px 15px 0;
    white-space: nowrap;
    position: absolute;
    right: -15px;
    text-align: right;
    -webkit-transition: ease transform 0.3s;
    -moz-transition: ease transform 0.3s;
    transition: ease transform 0.3s;
  }
  .navbar-default ul.navbar-nav .menu-item-has-children ul li {
    padding: 5px 10px;
    margin-right: -20px;
  }
  .navbar-default ul.navbar-nav .menu-item-has-children:hover ul {
    transform: rotateX(0deg);
  }
  .white-header .navbar-default,
  .navbar-default.navbar-shrink,
  .navbar-default:hover {
    background-color: #2a2a33;
  }
  .white-header .navbar-default .navbar-nav > .active > a,
  .navbar-default.navbar-shrink .navbar-nav > .active > a,
  .navbar-default:hover .navbar-nav > .active > a,
  .white-header .navbar-default .navbar-nav > .current-menu-item > a,
  .navbar-default.navbar-shrink .navbar-nav > .current-menu-item > a,
  .navbar-default:hover .navbar-nav > .current-menu-item > a {
    border-radius: 5px;
    color: white;
    background-color: #477CA6;
  }
  .white-header .navbar-default .navbar-nav > .current-menu-item > a:hover,
  .navbar-default.navbar-shrink .navbar-nav > .current-menu-item > a:hover,
  .navbar-default:hover .navbar-nav > .current-menu-item > a:hover,
  .white-header .navbar-default .navbar-nav > .current-menu-item > a:focus,
  .navbar-default.navbar-shrink .navbar-nav > .current-menu-item > a:focus,
  .navbar-default:hover .navbar-nav > .current-menu-item > a:focus,
  .white-header .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default.navbar-shrink .navbar-nav > .active > a:hover,
  .navbar-default:hover .navbar-nav > .active > a:hover,
  .white-header .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default.navbar-shrink .navbar-nav > .active > a:focus,
  .navbar-default:hover .navbar-nav > .active > a:focus {
    color: white;
    background-color: #386182;
  }
}
/* Footer */
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
@media (max-width: 767px) {
  footer {
    padding: 0;
  }
}
/* Social Buttons */
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #2a2a33;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  font-size: 30px;
  line-height: 58px;
  color: white;
  outline: none;
  -webkit-transition: "all 0.3s";
  -moz-transition: "all 0.3s";
  transition: "all 0.3s";
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #477CA6;
}
section#contact {
  background-color: #2a2a33;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #477CA6;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact .text-danger {
  color: #e74c3c;
}
::-moz-selection {
  text-shadow: none;
  background: lightblue;
}
::selection {
  text-shadow: none;
  background: lightblue;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: lightblue;
}
