h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  color: #2a2a33;
}
a:hover,
a:focus {
  color: #477CA6;
}
p {
  margin: 10px 0;
}
blockquote {
  color: #777;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
img {
  padding: 20px 0;
}
.intro-header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #777;
}
@media (min-width: 768px) {
  .intro-header {
    margin-bottom: 50px;
  }
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 20px 0;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 200px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading,
.intro-header .post-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1,
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading,
.intro-header .post-heading .subheading,
.intro-header .site-heading .meta,
.intro-header .page-heading .meta,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading,
.intro-header .post-heading .subheading {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: oblique;
  font-size: 25px;
  font-weight: 100;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .site-heading .meta,
.intro-header .page-heading .meta,
.intro-header .post-heading .meta {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: oblique;
  font-size: 25px;
  font-weight: 100;
}
.intro-header .site-heading .meta a,
.intro-header .page-heading .meta a,
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1,
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .site-heading .subheading,
  .intro-header .page-heading .subheading,
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
body.white-header .intro-header {
  background: none;
}
body.white-header .intro-header .page-heading {
  color: #2a2a33;
}
@media only screen and (min-width: 768px) {
  body.white-header .intro-header .page-heading {
    padding: 100px 0 20px;
  }
}
body.white-header .intro-header hr {
  border-color: #2a2a33;
}
.post-preview > a {
  color: #2a2a33;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #477CA6;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #2a2a33;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #477CA6;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f7f7f7;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: "top 0.3s ease, opacity 0.3s ease";
  -moz-transition: "top 0.3s ease, opacity 0.3s ease";
  transition: "top 0.3s ease, opacity 0.3s ease";
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #f7f7f7;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #477CA6;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #f7f7f7;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #477CA6;
  border: 1px solid #477CA6;
  color: white;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #477CA6;
  border: 1px solid #477CA6;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777;
  background-color: #2a2a33;
  cursor: not-allowed;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #477CA6;
}
::selection {
  color: white;
  text-shadow: none;
  background: #477CA6;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
