$brand-primary: 000!default;
$accent-color: 000!default;
$contrast-color: 000!default;
$whitish-color: 000!default;
$background-primary-color:000!default;
$background-secondary-color:000!default;
$menu-text-color:000!default;
$hero-color:000!default;
$primary-text-color:000!default;
$secondary-text-color:000!default;

//$heading-font: "Open Sans"!default;
//$font($hero): "Open Sans"!default;
//$script-font: "Kaushan Script"!default;
//$body-font: "Open Sans"!default;
//$serif-font: "Lola"!default;