<li class="hidden">
	<a href="/"></a>
</li>

{% include "navbar/agency-frontpage-items.twig" %}

{% if theme.theme_mod('menu_contact') %}
	<li>
		<a class="page-scroll" href="{{ menu_slash }}#contact">
			{{ theme.theme_mod('menu_contact_text', __('Contact', domain)) }}
		</a>
	</li>
{% endif %}
