{% extends "base.twig" %}

{% block content %}
	<header class="intro-header" style="{{ background }}">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="site-heading">
						<h1>
							{% if title %}
								{{ title }}
							{% else %}
								 Blog
							{% endif %}
						</h1>
						<hr class="small">
						<span class="subheading">By {{ site.name }}</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{% for post in posts %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					<hr>
				{% endfor %}
				{#<!-- Pager -->#}
				{#<ul class="pager">#}
					{#<li class="next">#}
						{#<a href="#">Older Posts &rarr;</a>#}
					{#</li>#}
				{#</ul>#}
			</div>
		</div>
	</div>
	<hr>
{% endblock %}